@model IEnumerable<BookstoreMVC5.Models.Book>
@{ var cate = ViewBag.category;}
@foreach (var item in Model)
{
    int sale = (int)item.pricesale;
    float price = (int)item.price - (int)item.price / 100 * (int)sale;

    <div class="single-slide pt-3">
        <div class="product-card">

            <div class="product-card--body">
                <div class="card-image ">

                    <img src="~/Public/images/product/@item.img" alt="" class="img-center">

                    <div class="hover-contents">
                        <a href="~/san-pham/@item.slug" class="hover-image">
                            <img width="67%" src="~/Public/images/product/@item.img" alt="" class="img-center-hover">
                        </a>
                        <div class="hover-btns">
                            <input type="hidden" id="quantity" value="1">
                            <a href="" onclick="addcart(@item.ID)" class="single-btn">
                                <i class="fas fa-shopping-basket"></i>
                            </a>
                            @*<a href="/them-sp-gio-hang?bookid=@item.ID&quantity=1" class="single-btn">
                                <i class="fas fa-shopping-basket"></i>
                            </a>*@
                            <a href="#" class="single-btn">
                                <i class="fas fa-heart"></i>
                            </a>
                            @*<a href="compare.html" class="single-btn">
            <i class="fas fa-random"></i>
        </a>
        <a href="#" data-toggle="modal" data-target="#quickModal"
           class="single-btn">
            <i class="fas fa-eye"></i>
        </a>*@
                        </div>
                    </div>
                </div>

                <div class="price-block">
                    <span class="price">@price.ToString("N0") đ</span>
                    <del class="price-old">@item.price.ToString("N0") đ</del>
                    <span class="price-discount">@item.pricesale%</span>
                </div>
                <div class="product-header pt-3">
                    <a href="" class="author">
                        @ViewBag.category
                    </a>
                    <h3>
                        <a href="~/san-pham/@item.slug">
                            @item.name
                        </a>
                    </h3>
                </div>
            </div>

        </div>
    </div>
}
