@model List<BookstoreMVC5.Models.CartUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}

<link href="~/Public/css/cssNganLuong.css" rel="stylesheet" />
<section class="breadcrumb-section bg-white">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thanh toán</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<main id="content" class="page-section inner-page-sec-padding-bottom space-db--20 ">
    <div class="container bg-white card">
        <div class="row">
            <form method="POST" action="">
                <div class="col-12">
                    <!-- Checkout Form s-->
                    <div class="checkout-form">
                        <div class="row row-40">
                            <div class="col-12">
                                <h1 class="quick-title">Thanh toán</h1>

                                <!-- Slide Down Trigger  -->
                                <div class="checkout-quick-box">
                                    <p>
                                        <i class="far fa-sticky-note"></i>Chọn hình thức thanh toán ? <a href="javascript:"
                                                                                                         class="slide-trigger" data-target="#ad">
                                            Click để chọn hình thức thanh toán
                                        </a>
                                    </p>
                                </div>
                                <!-- Slide Down Blox ==> Cupon Box -->
                                <div class="checkout-slidedown-box" id="ad">
                                    @Html.Partial("PaymentView2")
                                </div>
                            </div>
                            @Html.Action("formCheckOut", "Checkout")

                            <div class="col-lg-5">
                                <div class="row">
                                    <!-- Cart Total -->
                                    <div class="col-12">
                                        <div class="checkout-cart-total">

                                            <h2 class="checkout-title">Giỏ hàng</h2>
                                            <h4>Sản phẩm <span>Tổng</span></h4>

                                            @{
                                                float sum = 0;
                                            }

                                            @foreach (var iten in Model)
                                            {
                                                int sale = (int)iten.Book.pricesale;
                                                float price = (int)iten.Book.price - (int)iten.Book.price / 100 * (int)sale;
                                                float price1 = ((int)iten.Book.price - (int)iten.Book.price / 100 * (int)sale) * ((int)iten.quantity);
                                                sum += price * (int)iten.quantity;
                                                <ul>
                                                    <li>
                                                        <span class="left text-success">@iten.Book.name  X @iten.quantity</span> <span class="right">@price1.ToString("N0") VND</span>
                                                    </li>
                                                </ul>
                                            }
                                            <p>Tạm tính <span>@sum.ToString("N0") VND</span></p>
                                            <p>Tiền shipping <span>0 VND</span></p>
                                            <input type="hidden" value="@sum" name="sumOrder" />
                                            <h4>Tổng tiền <span>@sum.ToString("N0") VND</span></h4>

                                            




                                            <div class="term-block">
                                                <input type="checkbox" id="accept_terms2" required="">
                                                <label for="accept_terms2">
                                                    Tôi đã đọc và chấp nhận các điều khoản và điều kiện
                                                </label>
                                            </div>

                                            <button type="submit" class="place-order w-100">Đặt hàng</button>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<script>
    function CheckCart() {
        alertify.error(" Bạn phải thêm sản phẩm vào giỏ hàng");
        return false;
    }
</script>


