@model BookstoreMVC5.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    List<SelectListItem> listcat = new List<SelectListItem>();
    List<SelectListItem> listorder = new List<SelectListItem>();
    List<SelectListItem> status = new List<SelectListItem>();
    SelectListItem statusitem1 = new SelectListItem() { Value = "1", Text = "Ẩn " };
    SelectListItem statusitem2 = new SelectListItem() { Value = "2", Text = "Hiện" };
    status.Add(statusitem1);
    status.Add(statusitem2);
    SelectListItem listsortitem;
    List<SelectListItem> listsort = new List<SelectListItem>();
    foreach (var item in ViewBag.listcategory)
    {
        listsortitem = new SelectListItem() { Value = item.sort + "", Text = "Sau [" + item.name + "]" };
        listsort.Add(listsortitem);
    }
}
@Html.Partial("~/Areas/Admin/Views/Shared/_topMenu.cshtml")
@Html.Partial("~/Areas/Admin/Views/Shared/_leftMenu.cshtml")
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row m-0 bg-light">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Cập Nhật Loại Sản Phẩm</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
                        <li class="breadcrumb-item active">Cập nhật loại sản phẩm</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <section class="pt-2 container card">
        @Html.Partial("_MessgeAlert")
        <div class="container bg-white p-4 ">

            @using (Html.BeginForm("Edit", "Category"))
            {
                @Html.AntiForgeryToken()

                <div class=" row ">
                    <div class="col-md-4">  </div>
                    <div class="col-md-4"> <h3 class="text-center font-weight-bold text-cam "> Cập Nhật Loại Sản Phẩm</h3> </div>
                    <div class="col-md-4 ">
                        <div class="float-right">
                            <button class="btn btn-sm bg-success text-white"><i class="far fa-save"></i> Lưu</button>
                            <a href="~/admin/category" class="btn btn-sm bg-danger text-white"><i class="far fa-window-close"></i> Hủy</a>
                        </div>
                    </div>
                </div>
                <div class=" row ">
                    <div class="col-md-8">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <div>
                            <label for="psw"><span class="text-secondary ">Tên Loại Sản Phẩm</span></label>
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                        @*<div>
                            <label for="psw"><span class="text-secondary ">Chọn Cấp cha</span></label>
                            @Html.DropDownListFor(model => model.parentid, listcat, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.parentid, "", new { @class = "text-danger" })
                        </div>*@
                    </div>
                    <div class="col-md-4">
                        
                        

                        <div>
                            <label for="psw"><span class="text-secondary ">Chọn vị trí hiển thị</span></label>
                            @Html.DropDownListFor(model => model.sort, listsort, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.sort, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><span class="text-secondary ">Trang Thái</span></label>
                            @Html.DropDownListFor(model => model.status, status, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })

                        </div>
                    </div>


                </div>
            }
        </div>
    </section>
    <script>
    $("#category").addClass("active");
    </script>


    @*<h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Category</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.slug, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.slug, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.slug, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.parentid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.parentid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.parentid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.sort, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.sort, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sort, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
